<!--<div class="container mx-auto px-4">-->
  <div class="text-center mb-4"> <!-- Agregado para centrar el campo de búsqueda -->
    <mat-form-field class="w-1/2">
      <input matInput placeholder="Search by tittle, difficulty, ingredients" [(ngModel)]="searchKeyword" (input)="getall()" />
    </mat-form-field>
  </div>
  
<mat-drawer-container [autosize]="true" class="min-h-full max-w-7x1 mx-auto border-x">
  <mat-drawer mode="side" opened class="p-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 justify-center">
      <mat-card *ngFor="let recipe of recipes" class="example-card bg-gray-200 p-2 rounded-md w-64">
        <mat-card-header>

          <mat-card-title class="text-lg font-bold">{{recipe.title}}</mat-card-title>
          <mat-card-subtitle class="text-gray-600">Difficulty Level: {{recipe.difficulty_level}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="recipe.images" alt="Recipe Image" class="w-full h-32 object-cover rounded-md">
        <mat-card-content class="mt-2 text-sm text-gray-700">
          <p>Ingredients:</p>
  <ul class="list-disc">
    <li *ngFor="let ingredient of recipe.ingredients; let i = index" [class.hidden]="i > 3 && !showAllIngredients">
      {{ ingredient }}
    </li>
    <li *ngIf="recipe.ingredients.length > 4">
      <a href="#" (click)="toggleShowAllIngredients()" class="text-blue-500 hover:underline">
        {{ showAllIngredients ? 'Show Less' : 'Show More' }}
      </a>
    </li>
  </ul>
          <p>Preparation time: {{recipe.time}} minutes </p>
        </mat-card-content>
        <mat-card-actions class="mt-2">
          <button mat-raised-button color="primary" class="bg-blue-500 text-white px-2 py-1 rounded-md" (click)="edit(recipe)">UPDATE</button>
          <button mat-raised-button color="warn"
            class="bg-gray-500 text-white px-2 py-1 rounded-md ml-2" (click)="delete(recipe)">DELETE</button>
          <a mat-raised-button color="accent" class=" bg-gray-500 text-white px-2 py-1 rounded-md ml-2"
            [href]="recipe.video" target="_blank">WATCH VIDEO</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-drawer>

  <mat-drawer-content class="p-6">
    <h1 class="text-lg font-bold">Add or edit a recipe</h1>
    <form [formGroup]="form" (ngSubmit)="new()">
      <mat-form-field class="w-full">
        <input matInput formControlName="title" placeholder="Title">
      </mat-form-field>
      
      <mat-form-field class="w-full">
        <textarea matInput formControlName="ingredients" placeholder="Ingredients"></textarea>
      </mat-form-field>
      
      <mat-form-field class="w-1/2">
        <input matInput type="number" placeholder="Preparation time" formControlName="time">
      </mat-form-field>
      
      <mat-form-field class="w-full">
        <input matInput formControlName="difficulty_level" placeholder="Difficulty level">
      </mat-form-field>
      
      <mat-form-field class="w-full">
        <input matInput type="url" formControlName="images" placeholder="Url image">
      </mat-form-field>
      
      <mat-form-field class="w-full">
        <input matInput type="url" formControlName="video" placeholder="Url video">
      </mat-form-field>
      
      <div class="button-container">
        <button mat-raised-button color="primary" >Guardar</button>
      </div>
    </form>
  </mat-drawer-content>



</mat-drawer-container>



<!--</div>-->